<div id="login">
  <div class="group">
    <a>Masuk</a>
    <span></span>
    <a>Daftar</a>
  </div>
  <form method="post" action="/login">
    <div>
      <label>Nama pengguna</label>
      <input type="text" name="user"></input>
    </div>
    <div>
      <label>Kata sandi</label>
      <input name="pass" type="password"></input>
    </div>
    <button type="submit">Masuk</button>
  </form>
</div>