<%- include("templates/navs") %>

<article>
  <a href="" class="btn btn-s">Tambah user</a>
  
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nama</th>
        <th>Nama</th>
        <th>Opsi</th>
      </tr>
    </thead>
  </table>
</article>